/* reset */
 html, body, ul, li, section, p, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
  color: inherit;
  font-style: normal;
  font-weight: inherit;
  display: inherit;
 }

/* clearfix */
.group:after {
  content: "";
  display: block;
  clear: both;
}

/* main view */
.opening-info {
  height: 100vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.bg-container {
  position: relative;
  overflow: hidden;
  top:15vh;
  width: 100vw;
  height: 70vh;
  display: flex;
}

.bg-container img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
  opacity: 0.7;
}

.info-container {
  z-index: 2;
  position: relative;
  resize: vertical;
  margin: 0 auto;
  color: #fff;
  width: 50vw;
  display: flex;
  flex-direction: column;
  text-shadow: 0 0 4px black;
}

.info-container {
  margin-top: 10vh;
}

.info-container h1, .info-container ul{
  margin: 0 auto;
}

.info-container h1{
  font-size: 5vmin;
  margin-bottom: 3vh;
}

.description-links {
  text-shadow: 0 0 6px black;
}

.description-links li {
  float: left;
  font-size: 1.5vmin;
  margin-right: 0.75vw;
}

.meat-links {
  font-size: 3vmin;
}

.meat-links li {
  float: left;
  padding: 0 1vw;
  border-right: 1px solid white;
}

.meat-links li:last-child {
  border-right: none;
}

.hide:hover {
  text-shadow: 0 0 16px black;
  cursor: pointer;

  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  transition: text-shadow 0.5s ease;
}

.show {
  color: rgb(94,94,94);
  text-shadow: 0 0 16px white;
  cursor: default;

  -webkit-transition: text-shadow 1.5s ease;
  -moz-transition: text-shadow 1.5s ease;
  -o-transition: text-shadow 1.5s ease;
  transition: text-shadow 1.5s ease;

  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
}

.show:hover {

}

/* meat */
.meat-detail {
  margin-top: 5vh;
}

.about-meat {
  margin: 0 auto;
  font-size: 3vmin;
  text-align: center;
}

.about-meat p {
  text-shadow: 0 0 10px black;
}

.portfolio-meat {
  margin: 0 auto;
  display: flex;
  flex-direction: column;;
  flex-wrap: wrap;
  text-align: center;
}

.portfolio-meat li {
  margin: 0 auto;
  font-size: 5vmin;
  margin-bottom: 5vh;
}

.portfolio-meat li:hover {
  text-shadow: 0 0 15px black;
  -webkit-transition: text-shadow 1s ease;
  -moz-transition: text-shadow 1s ease;
  -o-transition: text-shadow 1s ease;
  transition: text-shadow 1s ease;

}

.devicons {
  margin: 0 auto;
  font-size: 6vmin;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  overflow: scroll;
}

.devicons li {
  padding: 1vmin 7vmin;
}

.contact-meat {
  font-size: 7vmin;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
}

.contact-meat li {
  margin: 0 5vw;
}

.contact-meat li:hover {
  text-shadow: 0 0 15px black;
  -webkit-transition: text-shadow 1s ease;
  -moz-transition: text-shadow 1s ease;
  -o-transition: text-shadow 1s ease;
  transition: text-shadow 1s ease;
}
