/* reset */
 html, body, ul, li, section, p, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
  color: inherit;
  font-style: normal;
  font-weight: inherit;
  display: inherit;
 }

/* clearfix */
.group:after {
  content: "";
  display: block;
  clear: both;
}

/* main view */
.opening-info {
  height: 100vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.bg-container {
  position: relative;
  overflow: hidden;
  top:15vmin;
  width: 100vw;
  height: 70vh;
  display: flex;
}

.bg-container img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
  opacity: 0.85;
}

.info-container {
  z-index: 2;
  position: relative;
  resize: vertical;
  margin: 0 auto;
  color: #fff;
  width: 50vw;
  display: flex;
  flex-direction: column;
  text-shadow: 0 0 4px black;
}

.info-container {
  margin-top: 10vh;
}
.prof-title {
  font-weight: bold;
  font-size: 100px;
}
.info-container h1, .info-container ul{
  margin: 0 auto;
}

.info-container h1{
  font-size: 5vmin;
  margin-bottom: 3vh;
}

.info-container h1:hover {
  cursor: default;
}

.description-links {
  text-shadow: 0 0 6px black;
  padding-left: 1vw;
}

.description-links:hover {
  cursor: default;
}

.description-links li {
  float: left;
  font-size: 1.5vmin;
  margin-right: 0.75vw;
}

.meat-links {
  font-size: 4vmin;
}

.meat-links li {
  float: left;
  padding: 0 1vw;
  border-right: 1px solid white;
}

.meat-links li:last-child {
  border-right: none;
}

.hide {
  -webkit-transition: text-shadow 1.5s ease;
  -moz-transition: text-shadow 1.5s ease;
  -o-transition: text-shadow 1.5s ease;
  transition: text-shadow 1.5s ease;

  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
}

.hide:hover {
  text-shadow: 0 0 4px white;
  cursor: pointer;

  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  transition: text-shadow 0.5s ease;
}

.show {
  color: #2d3a54;
  text-shadow: 0 0 16px white;
  cursor: default;

  -webkit-transition: text-shadow 1.5s ease;
  -moz-transition: text-shadow 1.5s ease;
  -o-transition: text-shadow 1.5s ease;
  transition: text-shadow 1.5s ease;

  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
}

/* meat */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.meat-detail {
  margin-top: 5vh;
}

.about-meat {
  display: flex;
  flex-direction: column;
}

.fade-in {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;

}

.fade-in.one {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.fade-in.two {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay:0.3s;
  animation-delay: 0.3s;
}

.fade-in.three {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

p {
  margin: 0 auto;
  font-size: 2vmin;
  text-align: center;
  text-shadow: 0 0 10px black;
  animation: fadein 2s;
}

p:hover {
  cursor: default;
}

.portfolio-meat {
  margin: 0 auto;
  display: flex;
  flex-direction: column;;
  flex-wrap: wrap;
  text-align: center;
}

.portfolio-meat li {
  margin: 0 auto;
  font-size: 5vmin;
  margin-bottom: 5vh;

  -webkit-transition: text-shadow 1s ease;
  -moz-transition: text-shadow 1s ease;
  -o-transition: text-shadow 1s ease;
  transition: text-shadow 1s ease;
}

.portfolio-meat li:hover {
  text-shadow: 0 0 4px white;
  -webkit-transition: text-shadow 1s ease;
  -moz-transition: text-shadow 1s ease;
  -o-transition: text-shadow 1s ease;
  transition: text-shadow 1s ease;

}

.devicons {
  margin: 0 auto;
  font-size: 6vmin;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  overflow: scroll;
}

.devicons li {
  padding: 1vmin 7vmin;
}

.contact-meat {
  font-size: 7vmin;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
}

.contact-meat li {
  margin: 0 5vw;

  -webkit-transition: text-shadow 1s ease;
  -moz-transition: text-shadow 1s ease;
  -o-transition: text-shadow 1s ease;
  transition: text-shadow 1s ease;
}

.contact-meat li:hover {
  text-shadow: 0 0 4px white;
  -webkit-transition: text-shadow 1s ease;
  -moz-transition: text-shadow 1s ease;
  -o-transition: text-shadow 1s ease;
  transition: text-shadow 1s ease;
}
