/* reset */
 html, body, ul, li, section, p, a {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: inherit;
   font-family: sans-serif;
   text-decoration: none;
   list-style: none;
   color: inherit;
   font-style: normal;
   font-weight: inherit;
   display: inherit;
 }

/* clearfix */
.group:after {
  content: "";
  display: block;
  clear: both;
}

/* main view */
.opening-info {
  height: 100vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.bg-container {
  position: relative;
  overflow: hidden;
  top:15vh;
  width: 100vw;
  height: 70vh;
  display: flex;
}

.bg-container img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
    opacity: 0.7;
}

.info-container {
  z-index: 2;
  position: relative;
  resize: vertical;
  margin: 0 auto;
  color: #fff;
  width: 50vw;
  display: flex;
  flex-direction: column;
  text-shadow: 0 0 4px black;
}

.info-container {
  margin-top: 10vh;
}

.info-container h1, .info-container ul{
  margin: 0 auto;
}

.info-container h1{
  font-size: 48px;
  margin-bottom: 3vh;
}

.description-links {
  text-shadow: 0 0 6px black;
}

.description-links li {
  float: left;
  font-size: 18px;
  padding: 0 15px;
}

.description-links li:first-child {
  padding: 0 0px;
}

.meat-links {
  font-size: 46px;
}

.meat-links li {
  float: left;
  font-size: 36px;
  padding: 5px 10px;
  border-right: 1px solid white;
}

.meat-links li:last-child {
  border-right: none;
}

.meat-links li:hover {
  text-shadow: 0 0 16px black;
}

/* meat */
.meat > ul > li {
}
